img{
    height : 50px;
    align-self: center;
}

button#killbutton {
    display : flex;
    transition : transform .2s;
    margin-bottom : 30px;
}

button#killbutton:hover {
    transform: scale(1.2);
}

button#killbutton>h3{
    margin : 13px 25px 0px 0px;
    color:white;
}

.userbox {
    margin-bottom : 15px;
    margin-top:5px;
}

textarea {
    width: 93.75%;
    height: 200px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    resize: vertical;
    margin-top : 15px;
}

div#modifiers{
    margin-top:15px;
    display : flex;
    justify-content: center;
}

div#modifiers>*{
    margin-right:2px;
}

#modifiers>input[type=number] {
    outline: none;
    border: none;
    width: 40px;
    color: #131c35;
    font-size: 18px;
    border-radius : 3px;
}

button.active {
    background-color: #73b1e333;
    color: #5271ff;
}

button:hover {
    background-color: #40576d1a;
}

button {
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
    background-color: transparent;
    padding: 10px 16px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

#render {
    min-height : 10px;
    color : white;
}

#render>span.p{
    display:inline;
}

.formdiv {
    top:55%;
}

body {
    padding-bottom : 20px;
    padding-top:  0px;
    display: grid;
}

html {
    display: grid;
}

label#files {
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    background: #dddddd;
    display: inline-block;
    align-self: center;
    justify-self: center;
}

label#files p {
    margin: 0px;
}

label#files:hover {
    background: #5cbd95;
}
label#files:active {
    background: #9fa1a0;
  }
label#files:invalid + span {
    color: #000000;
}
label#files:valid + span {
    color: #ffffff;
}

div.formdiv#postdiv {
    align-self: center;
    justify-self: center;
    padding : 22px;
}

#contentLabel {
    top : -40px;
}

#contentUserbox {
    border : 3px transparent;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-top : 50px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}