html {
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: 0px;
}

html::-webkit-scrollbar {
    display : none;
}

html::-webkit-scrollbar-button {
    display : none;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#141e30, #243b55) no-repeat;
    min-width: 400px;
    height:100%;
    background-attachment:fixed;
}

form>*{
    display:block;
}

.verify{
    color: red;
    font-family: system-ui;
    margin-top: 0px;
    margin-bottom: 30px;
}

.breakword {
    word-break: break-word;
}

.formdiv {
    width: 380px;
    padding: 35px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.formdiv:not(#postdiv) {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.formdiv h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.formdiv .userbox {
    position: relative;
}

.formdiv .userbox>input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.formdiv .userbox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.formdiv .userbox input:focus~label,
.formdiv .userbox input:valid~label,
.formdiv .userbox textarea:focus~label,
.formdiv .userbox textarea:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 15px;
}

form button.styled {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: none;
    background-color: transparent;
    border:none;
    font-size: 16px;
}

form button:not(.link).styled{
    overflow: hidden;
    transition: .5s;
    margin-top: 30px;
    letter-spacing: 4px;
    color: #03e9f4;
    padding: 10px 20px;
}

.formdiv form button.link {
    color: #0043ee;
    text-decoration-line: none;
}

.formdiv form button.link:hover {
    color: #551A8B;
    text-decoration-line: underline;
}

button:not(.link):not(.nokill).styled:hover {
    background: rgba(2, 241, 254, 0.5);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(2, 241, 254, 0.5),
        0 0 25px rgba(2, 241, 254, 0.5),
        0 0 50px rgba(2, 241, 254, 0.5),
        0 0 100px rgba(2, 241, 254, 0.5);
}
button:not(.link).styled span {
    position: absolute;
    display: block;
}
button:not(.link).styled span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 2s linear infinite;
}
@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}
button:not(.link).styled span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 2s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}
button:not(.link).styled  span:nth-child(3) {
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 2s linear infinite;
    animation-delay: 1s;
}
@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}
button:not(.link).styled span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 2s linear infinite;
    animation-delay: 1.5s;
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.t {
    background: none;
}

.user-singup {
    padding-top: 10%;
    padding-left: 23%;
    color: #fff;
}

.user-singup button:not(.link):hover {
    color: #03e9f4;
}

.transparent {
    color : transparent;
}

.formdiv>form{
    display:grid;
}

#submitbutton:not(.link) {
    justify-self: center;
    align-self: center;
}



button.thin {
    padding-left:10px !important;
    padding-right:10px !important;
}

.formdiv form button:not(.link)#killbutton:not(.nokill){
    color : red;
}

.formdiv button:not(.link)#killbutton:not(.nokill):hover {
    background: rgba(254, 2, 2, 0.5);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(254, 2, 2, 0.5),
        0 0 25px rgba(254, 2, 2, 0.5),
        0 0 50px rgba(254, 2, 2, 0.5),
        0 0 100px rgba(254, 2, 2, 0.5);
}

.formdiv button:not(.link)#killbutton:not(.nokill) span:nth-child(1) {
    background: linear-gradient(90deg, transparent, red);
}
.formdiv button:not(.link)#killbutton:not(.nokill) span:nth-child(2) {
    background: linear-gradient(180deg, transparent, red);
}
.formdiv button:not(.link)#killbutton:not(.nokill) span:nth-child(3) {
    background: linear-gradient(270deg, transparent, red);
}
.formdiv button:not(.link)#killbutton:not(.nokill) span:nth-child(4) {
    background: linear-gradient(360deg, transparent, red);
}


.formdiv form button:not(.link).green{
    color : lime;
}

.formdiv button:not(.link).green:hover{
    background: rgba(2, 254, 2, 0.5);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(2, 254, 2, 0.5),
        0 0 25px rgba(2, 254, 2, 0.5),
        0 0 50px rgba(2, 254, 2, 0.5),
        0 0 100px rgba(2, 254, 2, 0.5);
}

.formdiv button:not(.link).green span:nth-child(1) {
    background: linear-gradient(90deg, transparent, lime);
}
.formdiv button:not(.link).green span:nth-child(2) {
    background: linear-gradient(180deg, transparent, lime);
}
.formdiv button:not(.link).green span:nth-child(3) {
    background: linear-gradient(270deg, transparent, lime);
}
.formdiv button:not(.link).green span:nth-child(4) {
    background: linear-gradient(360deg, transparent, lime);
}

input[type="file"] {
    display : none;
}

.bubbles{
    max-width: 500px;
    position : absolute;
    top : 15px;
    justify-content: center;
}

.bubble {
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-top:15px;
    padding : 10px;
    color: #fff;
}

.bubble.noform {
    word-wrap: break-word;
}

.bubble.static#actions{
    display : flex;
    padding : 10px 30px;
}

div.container>h2{
    margin-right : 25px;
}

div.container>img{
    height : 50px;
    align-self: center;
}

.bubble:not(.static):not(#action){
    transition : transform .2s;
}

.bubble:not(.static):not(#action):hover{
    transform: scale(1.3);
    background-color:rgba(0, 0, 0, .75)
}

.bubble:not(.static)#action{
    justify-content: center;
    display:flex;
}