body {
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
    display:flex;
}

div.formdiv {
    text-align: center;
    justify-content: center;
    display: block;
}

form:not(.invisible){
    width:350px;
    height:400px;

    display: inline-block;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid rgb(44, 51, 39);

    background-color: white;
    font-family: serif;
}

form>*{
    display:block;
}

.verify{
    color: red;
    font-family: system-ui;
}